@import "../../../../../styles/var.scss";

.container {
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 131px;
  margin-top: 50px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .learnMore {
    width: 759px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.38vh;

    .title {
      font-family: 'Arm Hmk\'s Bebas Neue', var(--font-bebas), 'Oswald', sans-serif;
      font-weight: 400;
      font-style: Regular;
      @include adaptiveText(48);
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: $color_secondary;
      margin: 0;
    }

    .description {
      font-family: Mardoto;
      font-weight: 400;
      font-style: Black;
      @include adaptiveText(20);
      leading-trim: NONE;
      line-height: 30px;
      letter-spacing: 0%;
      color: $color_primary;

      span {
        font-weight: 900;
      }
    }

    button {
      @include adaptivePadding(20, 60);
      width: fit-content;
    }
  }

  .image {
    width: 45%;
    height: auto;
  }
}